// var.scss


//color
   // primary
      $red : #a91f2b;
      $darkblue : #00002a;
      $black : #333;
      $white : #fff;

   // sub
      $sub1 : #dec4a4;
      $sub2 : #f9f4ed;
      $sub3 : #eaf2f5;
      $sub4 : #5b6574;
      $sub5 : #bf9c50;

//line


//font
$font_s : (0.75rem, 1rem, 1.125rem, 1.5rem, 2rem);