/* footBox.css */


// common
#footBox {width: 100%; height: auto; padding: 1rem; box-sizing:border-box; background-color: #eaeaea;
   .foot_wrap{ width: 100%; height: auto; text-align:center;

      > h2 {@include hidden;}
      > h3 {width: 150px; height: 50px; background-color: #fff; background-image:url('../../img/caci_logo.png'); background-position: 50% 50%; background-size: 100% auto; background-repeat: no-repeat;
      }
      span {@include hidden;};
      
      address {font-style:normal; font-size: nth($font_h1,1);
         ul {width: 100%; height:auto;
            li {width: auto; margin-bottom: 1rem;}
            a {display: block; float:left; width: auto; height: 1rem; margin-right: 1rem;}
            dl {width: auto; height: auto; margin-bottom: nth($font_h1,1);
               dt{width: auto; height: 1rem;}
               dd{width: auto; height: 1rem;}
            }//dl
         }
         p{text-transform:uppercase;}
      }// address

      .page_info{
         h3 {@include hidden;}
         p {font-size: nth($font_h1,1);}
      }


   // deviceChange
      // 모바일~태블릿
      @media screen and (max-width: 768px){
         h3{background-color: #07f;}
      };

      // pc~
      @media screen and (min-width: 769px){
         
      };



   };//.foot_wrap
}; //#footBox