/* headBox.scss */

//common -----------------------------------------------------------

#headBox {position:fixed; z-index: 1000; width: 100%; min-width: 320px; @include conUnit(height,60);

   .head_wrap{position:relative; top:0; left:0; z-index: -100; width: 100%; max-width:85.375rem; height: 100%; padding: 10px; box-sizing:border-box; min-height: 2.5rem; margin:auto;

      //logo
      > h1 {float:left; width: 200px; @include conUnit(height, 40);
         > a {display:block; width:100%; height: 100%; background-image:url("../../img/caci_logo_white.png"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
            >span {@include hidden;}
         } // a
      }// h1


      // #gnb  -----------------------------------------------------------
      > #gnb {position:absolute; width: 100%; z-index:-1; height:60px; top:0; left: 50%; transform: translate(-50%);
         h2 {@include hidden;};
         ul{position:absolute; z-index:500; width: auto; min-width:53rem; height: auto; top:0; left: 50%; transform: translate(-50%);
            &:before, &::before {content:" "; display: block; position: absolute; z-index:-100; left:-50vw; width: 150vw; height: 100%; background-color: rgba(0,0,0,0.6); transition:all 300ms ease;}//before
            li {float:left; width: auto; height: auto; padding: 0 0.5rem; margin-right: nth($font_s,3); text-align:center; color: #fff;
            &:last-child{margin-right:0;}
               dl {width: auto; height: auto;
                  dt {width: auto; height: 3.75rem;
                     a {display: block; width: auto; height:100%; padding: 0 1rem; line-height: 3.75rem; font-size: nth($font_s,3); font-weight: bold; transition:all 300ms ease;}
                  }
                  dd {display:none; width: auto; height: auto;
                     a {display:block; width: auto; height: auto; padding: 0.4rem 0; font-size: nth($font_s,2);}
                  }
               }// dl
            
            
            }//li
         }// ul
         ul.action {
            &:before,&::before{padding-bottom : 1.5rem; }
            // dd{display:block;}
         }//ul.action
      }// #gnb -------------------------------------------------------------
      
      
      // #unb------------------------------------------------------------------
      #unb {float: right; top: 0; transform:translate(0); left: 5%; width: 3rem; height: 2.5rem; text-align:center;
         h2 {@include hidden;}
         a{display: block; width: 100%; height: 100%; background-color: transparent;
            i {width: 100%; height: 100%; font-size: nth($font_s,4); text-align:center; color: #fff; line-height: 2.5rem;}
            &.action i {color: $red;}
            &.action + form {display:block;}
         }// a
      }// #unb------------------------------------------------------------------


      // #navMenu------------------------------------------------------------------
      > #navMenu {display:none; float:right; width: 2.5rem; height: 2.5rem;
            // open_side_gnb
            > button {width: 2.5rem; height: 2.5rem; background-color: transparent;
               i {width: 100%; height: 100%; color: #fff; font-size: 2rem; text-align: center; line-height: 2.5rem;
               }// i
            }// .open_side_gnb

            // sideGnb_
            #sideGnb {position:fixed; z-index:1000; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 0; height: 0; background-color: $sub2; padding: 0; box-sizing:border-box; opacity:0;  transition:opacity 300ms ease; overflow: hidden;
               .side_guide{width: 100%; height: auto;
                  // close_side_gnb
                  button {display: block; width: 3rem; height: 3rem; margin:auto; background-color: transparent; margin-bottom : 2rem; padding:0;}
                  button > i {width: 100%; height: 100%; color: $black; font-size: 3rem; text-align: center; line-height: 3rem;}

                  // memberArea
                  .member_area {width: 0; height: 0; margin-bottom: 2rem; opacity:0;
                     ul{width: 100%; height: auto;
                     &:after,&::after {content:" "; display: block; width: 0; height: 0; clear:both;}
                        li{position:relative; float:left; width: 50%; height: 50px; text-align:center;
                        &:first-of-type:after,&:first-of-type::after {content:" "; display: block; top:50%; right: 0; transform:translateY(-50%); position:absolute; width: 0; height: 60%; border-right: 2px solid $sub2;}
                           a{display: block; width: 100%; height:100%; line-height: 50px; color: $sub2;background-color: $red; }
                        }//li
                     }//ul
                  }//.member_area

                  // sideGnb_ul
                  >ul {width: 100%; height:auto; color: $black;
                     li {float:left; width: 33%; height: auto; min-height: 150px; margin-bottom: 3rem;
                     &:nth-of-type(4),&:nth-of-type(5){width: 50%; margin-bottom:1rem;}
                     }//li
                     dl {width: 100%; height: auto;}
                     dt {width: 9.375rem; margin:auto; font-size: nth($font_s,3); font-weight: bold; margin-bottom: 1rem;
                        a {display: block; width: 100%; height: 100%; text-align:center;}
                     }//dt
                     dd {width: 7.5rem; margin:auto; display:none;
                     a{float:none; display: block; width: 100%; height: auto; padding:0.2rem 0; margin:auto; margin-bottom: 0.5rem; text-align:center;}
                     }//dd
                  }//ul
               }//.side_guide
            }//#sideGnb                
            #sideGnb.action {width: 100%; min-width: 320px; max-width: 750px; height: auto; min-height: 500px; background-color: $sub2; color: $black; opacity:1; padding: 3rem 1rem;
               .member_area{width: 100%; height: auto; opacity:1;}
               dl {display:block;
               dd {display:block;}
               }
            }//#sideGnb.action

      } //#navMenu------------------------------------------------------------------

      #navMenu:before,#navMenu::before {content:" "; display: block; position:fixed; z-index: 100; left:0; top:0; background-color: rgba($darkblue,0.5); opacity:0;}
      #navMenu.action{
         &:before, &::before{width: 100vw; height: 100vh; opacity:1; transition:opacity 300ms ease;}
      }

      // #pageNav
      > #pageNav {$count: 3;
         position:fixed; top: 50%; left: 5%; transform:translate(-50%, -50%); width: 3px; height: auto; min-height: 2.5rem;
         >ul {width: 100%; height: 2.5rem * $count; background-color: rgba($white,0.5); transition: background-color 300ms ease;
            >li {width: 100%; height: 100% / $count; transition:all 300ms ease; background-color: #fff; opacity:0;
            &.action {opacity:1; width: 5px;}
               a {display: block; width:100%; height:100%;}
            }//li
         }// ul
      }// #pageNav


// -------------------------------------------------------------------------------
// -------------------------------------------------------------------------------
// device별 사이즈 변경
      @media screen and (max-width: 480px){

      }


      @media screen and (max-width: 768px){
         #navMenu{
            #sideGnb.action {width: 100%; height: 100%; min-height: 0; padding: 3rem 0;
               .side_guide{position: absolute; left:0; width: 100%; height: 90%; overflow-x:hidden; overflow-y:auto; padding:0 5rem 5rem 0;
                  .member_area {width: 100%;
                     ul{height: 50px;
                        li {width: 50%;}
                     }
                  }
                  ul{
                     li {width: 100%; min-height: 50px; margin-bottom: 1.5rem; font-size:nth($font_s,2)}
                     dl {
                        dt {font-size:nth($font_s,2);}
                        dd {display:none;}
                     }//dl
                  }//ul
               }//.side_guide
            }//#sideGnb.action
         }//#navMenu

      }

      @media screen and (max-width: 960px){
         background-color: rgba(0,0,0,0.6);
         h1 {width:150px; height: 40px};
         #gnb,#unb {display:none;}
         #navMenu {display: block;}
      }

      @media screen and (min-width: 961px) and (max-width: 1280px){
         h1 {width:150px; height: 40px};
         #gnb > ul {position:static; float:right; transform: translate(0); min-width: 41.875rem; margin-right:3rem;
            li {margin-right: nth($font_s,1);}
            li > dl > dt > a {font-size: nth($font_s,2); padding: 0 1rem; }
         }//#gnb
         // #unb {display:none;}
         #unb {
            button i {font-size:nth($font_s,3)}
         } 
      }

      @media screen and (min-width: 1281px) and (max-width: 1920px){
      }

      @media screen and (min-width: 1920px){

      }  

   }//.head_wrap

}// #headBox