/* headBox.scss */

//common -----------------------------------------------------------

#headBox {position:fixed; z-index: 1000; width: 100%; min-width: 320px; @include conUnit(height,60);

   .head_wrap{position:relative; top:0; left:0; z-index: -100; width: 100%; max-width:85.375rem; height: 100%; padding: 10px; box-sizing:border-box; min-height: 2.5rem; margin:auto;

      //logo
      > h1 {float:left; width: 200px; @include conUnit(height, 40);
         > a {display:block; width:100%; height: 100%; background-image:url("../../img/caci_logo_white.png"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
            >span {@include hidden;}
         } // a
      }// h1


      // #gnb  -----------------------------------------------------------
      > #gnb {position:absolute; width: 100%; z-index:-1; height:60px; top:0; left: 50%; transform: translate(-50%);
         h2 {@include hidden;};
         ul{position:absolute; z-index:500; width: auto; min-width:52rem; height: auto; top:0; left: 50%; transform: translate(-50%);
            &:before, &::before {content:" "; display: block; position: absolute; z-index:-100; left:-50vw; width: 150vw; height: 100%; background-color: rgba(0,0,0,0.6); transition:all 300ms ease;}//before
            li {float:left; width: auto; height: auto; padding: 0 0.5rem; margin-right: nth($font_s,3); text-align:center; color: #fff;
            &:last-child{margin-right:0;}
               dl {width: auto; height: auto;
                  dt {width: auto; height: 3.75rem;
                     a {display: block; width: auto; height:100%; padding: 0 1rem; line-height: 3.75rem; font-size: nth($font_s,3); font-weight: bold; transition:all 300ms ease;}
                  }
                  dd {display:none; width: auto; height: auto;
                     a {display:block; width: auto; height: auto; padding: 0.4rem 0; font-size: nth($font_s,2);}
                  }
               }// dl
            
            
            }//li
         }// ul
         ul.action {
            &:before,&::before{padding-bottom : 1.5rem; }
            // dd{display:block;}
         }
      }// #gnb -------------------------------------------------------------
      
      
      // #unb
      #unb {position: fixed; top: 50%; left: 5%; transform:translate(-50%, -50%);float:right; width: 3rem; height: 2.5rem; text-align:right;
         h2 {@include hidden;}
         ul {width: 100%; height:100%;
            li {width: 100%; height: 50%; color: #fff; font-size: nth($font-s,1);}
         }// ul
      }// #unb


      // #navMenu
      > #navMenu {display:none; float:right; width: 2.5rem; height: 2.5rem; background-color: transparent;
         // open_side_gnb
         > button {width: 2.5rem; height: 2.5rem; background-color: transparent;
            i {width: 100%; height: 100%; color: #fff; font-size: 2rem; text-align: center; line-height: 2.5rem;
            }// i
         }// .open_side_gnb
         

         #sideGnb {position:fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 0; height: 0; background-color: $sub2; padding: 0; box-sizing:border-box; transition:all 300ms ease; opacity:0;
            
            // close_side_gnb
            button {width: 2.5rem; height: 2.5rem; background-color: transparent; transform-origin: 50% 50%; transition:all 300ms ease; width: 100%; margin:auto; margin-bottom : 2rem;}
            button > i {width: 100%; height: 100%; color: $black; font-size: 2rem; text-align: center; line-height: 2.5rem;}

            ul {width: 100%; height:100%; color: $black;
               li {float:left; width: 33%; height: auto; min-height: 200px; margin-bottom: 3rem;
               &:nth-of-type(4),&:nth-of-type(5){width: 50%;}
               }//li
               dl {width: 100%; height: auto;}
               dt {width: 9.375rem; margin:auto; font-size: nth($font_s,3); font-weight: bold; margin-bottom: 1rem;
                  a {display: block; width: 100%; height: 100%; text-align:center;}
               }//dt
               dd {width: 7.5rem; margin:auto;
               a{float:none; display: block; width: 100%; height: auto; padding:0.2rem 0; margin:auto; margin-bottom: 0.5rem; text-align:center;}
               }//dd
            }//ul
         }//#sideGnb                
      #sideGnb.action {z-index:1000; width: 90vw; min-width: 320px; max-width: 750px; height: auto; min-height:500px; background-color: $sub2; color: $black; opacity:1; padding: 5rem 1rem;
         dl {display:block;}
      }//#sideGnb.action
      
      } //#navMenu

      // #pageNav
      > #pageNav {$count: 3;
         position:fixed; top: 50%; left: 5%; transform:translate(-50%, -50%); width: 2px; height: auto; min-height: 2.5rem;
         >ul {width: 100%; height: 2.5rem * $count; background-color: rgba(255,255,255,0.5);
            >li {width: 100%; height: 100% / $count; transition:all 300ms ease;
            &.action {background-color: #fff;}
            }//li
         }// ul
      }// #pageNav


// device별 사이즈 변경
      @media screen and (max-width: 480px){

      }


      @media screen and (max-width: 768px){
         #navMenu{
         #sideGnb.action {width: 100vw; height: auto;
            .close_side_gnb {top: 15%;}
            ul{
               li {width: 100%; min-height: 50px; margin-bottom: 0.5rem; font-size:nth($font_s,2)}
               dl {
                  dt {font-size:nth($font_s,2);}
                  dd {display:none;}
               }//dl
            }//ul
         }//#sideGnb.action
         }//#navMenu

      }

      @media screen and (max-width: 960px){
         background-color: rgba(0,0,0,0.6);
         h1 {width:150px; height: 40px};
         #gnb,#unb {display:none;}
         #navMenu {display: block;}
      }

      @media screen and (min-width: 961px) and (max-width: 1280px){
         h1 {width:150px; height: 40px};
         #gnb > ul {position:static; float:right; transform: translate(0); min-width: 41.875rem;
            li > dl > dt > a {font-size: nth($font_s,2); padding: 0 1rem; }
         }
      }

      @media screen and (min-width: 1281px) and (max-width: 1920px){

      }

      @media screen and (min-width: 1920px){

      }

   }//.head_wrap

}// #headBox