/* viewBox.css */
.view_wrap {position:relative; top:0; left:0; width:100%; height: 500px; padding-top:60px; box-sizing:border-box; background-color: #caf; background-image: url("../../img/sub1/viewBox/viewImg.jpg"); background-position: 50% 40%; background-size: auto 300%; background-repeat: no-repeat;

   // 서브 page이동 버튼
   .page_btn {position:absolute; top:50%; left: 50%; width: 90%; height: 0; transform:translate(-50%);
      button {float: right; width: 100px; height: 5px; background-color: rgba($white,0.5);
      &.prev {float: left;}

         p {font-size: nth($font_s,2); transform:translateY(-50%); }
      }//button
   }//.page_btn
}//view_wrap

.page_indicator {width: 100%; height: 5rem; border-bottom:1px solid darken($sub2,10%); box-sizing:border-box;
   h3{@include hidden;}
   ul{$count:3;
      width: 50%; height: 100%; margin:auto;
      li {float:left; width: 100% / $count; height: 100%;
         a {position:relative; display: block; width: 100%; height: 100%; margin:auto; padding: 1rem 0; box-sizing:border-box; text-align:center; color: $sub4; font-weight: bold; line-height:3rem;}
         a:after {content:" "; display: block; width: 0; height: 60%; position:absolute; top:50%; right: 0; border-right: 1px solid darken($sub2,10%); transform: translateY(-50%);}
      &:last-of-type {border-right: 0;}
      &:last-of-type a:after {display:none;}
      }//li
   }//ul
}//.page_indicator
   
   
@media screen and (max-width: 768px){
   .view_wrap{
      height: 250px;
   }//.view_wrap
}




