/* caci_480.css */



 
 /* -디자인 기준 : 480px */
 @media screen /* and (min-width:480px) */ and (max-width:767px) { 
 
   /* #headBox {} */
 
   /* #conBox {} */
 
   #viewarea {height:780px; height:48.75rem;
     background-position:50% 0;
     background-size:150% auto;
     background-color: #fff;}
 
 
   #usearea {height: 200px; height: 12.5rem }
 
     /* #businessarea {min-hei} */
 
   #rentalarea {height: 415px; height: 25.9375rem;}
 
   #newsarea {height: 400px; height: 25rem; }
 
     /* #footBox {} */
 
 
 
 } /* // 480 디자인 */
 