/* caci_1920.css */

 /* -디자인 기준 : 1920px */
 @media screen and (min-width:1280px) { 
 
   #wrap {max-width: 2400px;}
   /* #headBox {} */

   #navBar {float:none; position: absolute; left: 0; right:0; margin:auto;}

   /* #conBox {} */
   #viewarea {min-height:900px;}
 
 
   #usearea {max-width:1280px; margin:auto; min-height: 200px;}
 
   #businessarea {max-width:1280px; margin:auto;min-height: 500px;}
 
   #rentalarea {max-width:1280px;margin:auto;min-height: 420px;}
 
   #newsarea {max-width:1280px;margin:auto;min-height: 450px;}

   /* #footBox {} */
 
 } /* // 1920 디자인 */