/* viewBox.css */

#viewBox {width: 100%; min-width: 20rem; height: 100%;
   h2 {@include hidden;}
   .slide_wrap{position: relative; width: 100%; height: 100%; overflow:hidden;


      // indicator
      .indicator {$count:4;
         position:absolute; z-index: 500; right: 12%; width: 4rem * $count - 0.5rem; height: 0.5rem; top: 80%; transform:translate(0);
         li {float:left; width: 3.5rem; height: 100%; margin-right: 0.5rem; background-color: $sub1;
         &:last-of-type {margin-right:0;}
         &.action {background-color: $red;}
            a {display: block; width: 100%; height: 100%;}
         }

      }//.indicator



      // slide_btn
      .slide_btn {position:absolute; z-index: 500; width: 40%; min-width: 28.125rem; height:0; top:45%; left: 12%;
         button {width: 5rem; height: 5rem; float:right; text-align:center; background-color:transparent;
         &:last-of-type {float:left;}
         &.action i {color: $red; text-shadow:2px 2px 0 $black;}
         }//button
         i {font-size: 3rem;}
         span {@include hidden;}
         
      }//.slide_btn





      // slide_guide
      .slide_guide{position:relative; z-index:0; height:100%;
         li {float:left; height: 100%; 
            a {position:relative; display:block; width: 100%; height: 100%; padding-top:3.75rem; box-sizing:border-box; background-repeat:no-repeat; background-position: 50% 50%; background-size: cover; 
               span {@include hidden}
            }
            a:after,a::after {content:" "; display: block; position:absolute; top:0; width: 100%; height: 100%; background: linear-gradient(-90deg,rgba(0,0,0,0.9) 60%,rgba(0,0,0,0));}
            >div {height: 100%;}
         }//li
      }//.slide_guide



      
      
      // slide_info
      .slide_info {position:absolute; z-index:0; top:0; left:0; width: 100%; height: 100%;
         >ul {position:absolute; width: auto; min-width: 28.125rem; top : 13%; left: 23%; background-color: transparent;
            li {float:left; margin-right: 1rem;
               a {font-size: nth($font_s,2); color: $white;line-height: nth($font_s,3);}
            &.action a {font-weight: bold;font-size:nth($font_s,3);} 
            }//li
         }//ul
         
         >img {position:absolute; top:45%; left: 12%; width: 40%; min-width: 28.125rem; height: auto; transform-origin:50% 50%; transform:scale(0.6) translateY(-75%); box-shadow:0.2rem 0.2rem 0.2rem $black;
         }//img
         
         >dl {position:absolute; top: 25%; right: 20%; width:40%; min-width: 28.125rem; height: auto; transform:translate(50%); color: $white;
            dt {width: 80%; min-width: 500px; margin-bottom: 2rem; font-size:nth($font_s,5); font-weight: bold;}
            dd {width: 80%; min-width: 400px; margin-bottom: 1rem; font-size:nth($font_s,3);
               strong {display: block; margin-bottom:0.5rem; word-break:keep-all;}
               p {font-size:nth($font_s,2)}
            }//dd
            dd:first-of-type {font-weight: bold;}
         }//dl

         >.info_btn {position:absolute; float:right; width: 100%; height: 80px; right: 0; bottom: 0; background: linear-gradient(-90deg,rgba(0,0,0,0.9) 5%,rgba(0,0,0,0) 50%); color: #fff; text-align:right;
            a {display: block; width: 100%; height: 100%; padding: 0 2rem; box-sizing:border-box; line-height: 80px;
               i {margin-left: 2rem; animation:arrowMv 500ms linear alternate infinite;}
            }
         }//.info_btn
      }//.slide_info
   }//.slide_wrap
}// #viewBox

@keyframes arrowMv{0%{transform:translate(0)} 100%{transform:translate(-20px)}}


// ======================================================
// rwd적용
// ======================================================

@media screen and (max-width: 960px){
   #viewBox{height: 150%; min-height:63rem; overflow-x:hidden; overflow-y:visible;
      .slide_wrap{
         .indicator {top:90%; left: 50%; right:0; transform: translate(-50%);}

         .slide_guide {height: 40%; max-height:31.25rem;}

         .slide_btn {width: 100%; min-width: 320px; top: 25%; left:50%; transform:translate(-50%);}


         .slide_info{min-height:63rem;
            // > ul{position:static; width: 100%; height: auto;}
            > img{position: relative; top: 10%; left:50%; width: 80%; min-width: 18.75rem; max-width: 350px; height: auto; margin:auto; transform: translate(-50%);}
            > dl {z-index: 500; top: 55%; left:50%; right:0; margin:auto; width: 90%; min-width: 18.75rem;  background-color: #fff; color: #333; text-align:center; transform: translate(-50%);
               dt {font-size:nth($font_s,3); width: 100%; min-width: 18.75rem}
               dd {font-size:nth($font_s,2); width: 100%; min-width: 18.75rem;}
               }//dl

            >.info_btn {float:none; width: 20%; min-width: 200px; height: 50px; left:0; margin:auto; text-align:center; border: 1px solid $red; background: none; background-color: white; color: $red; font-size:nth($font_s,1); 
               a {padding: 0 2rem; box-sizing:border-box; line-height: 50px; color: inherit;
               i {display:none;}
               }
            &:hover,&:focus {background-color:$red; color: $white;}
            }
         }//.slide_info
      }
   }
};

@media screen and(min-width:961px) and (max-width: 1280px){
   #viewBox{
      .slide_wrap{
         // .indicator{left:5%;}

         .slide_btn {left: 5%;}
         
         .slide_info{
            >ul {left:15%;}
            >img {left:5%;}
            >dl{
               dt{font-size:nth($font_s,3)}
               dd{font-size:nth($font_s,2)}
            }
         }

      }//.slide_wrap
   }//#viewBox
}

@media screen and (max-width: 500px){
   #viewBox{min-height:68em;
      .slide_wrap{
         .slide_info{
            >img{min-width: 12.5rem; max-width: 300px;}
            >dl {top:48%;}
         }
      }
   }
};