/* viewBox.css */

#viewBox {width: 100%; height: 100%;
   h2 {@include hidden;}
   .slide_wrap{position: relative; width: 100%; height: 100%; overflow:hidden;


      // indicator
      .indicator {position:absolute; z-index: 500; right: 20%; width:40%; min-width: 224px; height: 0.7rem; bottom: 10rem; transform:translate(50%);
         li {float:left; width: 50px; height: 100%; margin-right: 0.5rem; background-color: $sub1;
         &:last-of-type {margin-right:0;}
         &.action {background-color: $red;}
            a {display: block; width: 100%; height: 100%;}
         }

      }//.indicator



      // slide_btn
      .slide_btn {position:absolute; z-index: 500; width: 40%; min-width: 28.125rem; height:0; top:50%; left: 12%;
         button {width: 5rem; height: 5rem; float:right; text-align:center; background-color:transparent;
         &:last-of-type {float:left;}
         &.action i {color: $red; text-shadow:2px 2px 0 $black;}
         }//button
         i {font-size: 3rem;}
         span {@include hidden;}
         
      }//.slide_btn





      // slide_guide
      .slide_guide{position:relative; z-index:0; height:100%; 
         li {float:left; height: 100%; 
            a {position:relative; display:block; width: 100%; height: 100%; padding-top:3.75rem; box-sizing:border-box; background-repeat:no-repeat; background-position: 50% 50%; background-size: cover; }
            a:after,a::after {content:" "; display: block; position:absolute; top:0; width: 100%; height: 100%; background: linear-gradient(-90deg,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0));}
            >div {height: 100%;}
         }//li
      }//.slide_guide



      
      
      // slide_info
      .slide_info {position:absolute; z-index:0; top:0; left:0; width: 100%; height: 100%;
         >ul {background-color: transparent;}
         
         >img {position:absolute; top:50%; left: 12%; width: 40%; min-width: 28.125rem; height: auto; transform-origin:50% 50%; transform:scale(0.6) translateY(-75%);
         }//img
         
         >dl {position:absolute; top: 35%; right: 20%; width:40%; min-width: 28.125rem; height: auto; transform:translate(50%); color: $white;
            dt {width: 80%; min-width: 500px; margin-bottom: 2rem; font-size:nth($font_s,5); font-weight: bold;}
            dd {width: 80%; min-width: 300px; margin-bottom: 1rem; font-size:nth($font_s,3);
               strong {display: block; margin-bottom:0.5rem; word-break:keep-all;}
               p {font-size:nth($font_s,2)}
            }//dd
         }//dl

         >button {position:absolute; float:right; width: 200px; height: 80px; right: 0; bottom: 0;}
      }//.slide_info








   }//.slide_wrap
}// #viewBox






// ======================================================
// rwd적용
// ======================================================


@media screen and (max-width: 480px){

};

@media screen and (max-width: 768px){
   #viewBox{
      .slide_wrap{
         .indicator {bottom: 10%; right: 50%;}
         .slide_btn {width: 100%; min-width: 320px; left: 50%; transform:translate(-50%);}
      }
   }
};