@charset "UTF-8";
/* caci_main.css */
/* 공통영역 */
#headBox {
  position: fixed;
  width: 100%;
  height: auto;
  min-height: 150px;
  background-color: #f9f4ed; }

#conBox {
  width: 100%;
  height: auto;
  min-height: 500px;
  padding-top: 150px;
  background-color: #555; }

#footBox {
  width: 100%;
  height: auto;
  min-height: 300px;
  background-color: #999; }

/* -디자인 기준 : 480px */
@media screen and (max-width: 479px) {
  #headBox {
    background-color: #f9f4ed; } }

/* -디자인 기준 : 480px */
/* -디자인 기준 : 768px */
/* -디자인 기준 : 960px */
