/* main.css */
#wrap { width: 100%; height: 100%; }

/* headBox.scss */
#headBox { position: fixed; z-index: 1000; width: 100%; min-width: 320px; height: 60px; height: 3.75rem; }

#headBox .head_wrap { position: relative; top: 0; left: 0; z-index: -100; width: 100%; max-width: 85.375rem; height: 100%; padding: 10px; box-sizing: border-box; min-height: 2.5rem; margin: auto; }

#headBox .head_wrap > h1 { float: left; width: 200px; height: 40px; height: 2.5rem; }

#headBox .head_wrap > h1 > a { display: block; width: 100%; height: 100%; background-image: url("../../img/caci_logo_white.png"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

#headBox .head_wrap > h1 > a > span { display: block; width: 0; height: 0; overflow: hidden; }

#headBox .head_wrap > #gnb { position: absolute; width: 100%; z-index: -1; height: 60px; top: 0; left: 50%; transform: translate(-50%); }

#headBox .head_wrap > #gnb h2 { display: block; width: 0; height: 0; overflow: hidden; }

#headBox .head_wrap > #gnb ul { position: absolute; z-index: 500; width: auto; min-width: 53rem; height: auto; top: 0; left: 50%; transform: translate(-50%); }

#headBox .head_wrap > #gnb ul:before, #headBox .head_wrap > #gnb ul::before { content: " "; display: block; position: absolute; z-index: -100; left: -50vw; width: 150vw; height: 100%; background-color: rgba(0, 0, 0, 0.6); transition: all 300ms ease; }

#headBox .head_wrap > #gnb ul li { float: left; width: auto; height: auto; padding: 0 0.5rem; margin-right: 1.125rem; text-align: center; color: #fff; }

#headBox .head_wrap > #gnb ul li:last-child { margin-right: 0; }

#headBox .head_wrap > #gnb ul li dl { width: auto; height: auto; }

#headBox .head_wrap > #gnb ul li dl dt { width: auto; height: 3.75rem; }

#headBox .head_wrap > #gnb ul li dl dt a { display: block; width: auto; height: 100%; padding: 0 1rem; line-height: 3.75rem; font-size: 1.125rem; font-weight: bold; transition: all 300ms ease; }

#headBox .head_wrap > #gnb ul li dl dt.active a { color: #bf9c50; }

#headBox .head_wrap > #gnb ul li dl dd { display: none; width: auto; height: auto; }

#headBox .head_wrap > #gnb ul li dl dd a { display: block; width: auto; height: auto; padding: 0.4rem 0; font-size: 1rem; }

#headBox .head_wrap > #gnb ul li dl dd a.active { color: #bf9c50; }

#headBox .head_wrap > #gnb ul.action:before, #headBox .head_wrap > #gnb ul.action::before { padding-bottom: 1.5rem; }

#headBox .head_wrap #unb { float: right; top: 0; transform: translate(0); left: 5%; width: 3rem; height: 2.5rem; text-align: center; }

#headBox .head_wrap #unb h2 { display: block; width: 0; height: 0; overflow: hidden; }

#headBox .head_wrap #unb a { display: block; width: 100%; height: 100%; background-color: transparent; }

#headBox .head_wrap #unb a i { width: 100%; height: 100%; font-size: 1.5rem; text-align: center; color: #fff; line-height: 2.5rem; }

#headBox .head_wrap #unb a.action i { color: #bf9c50; }

#headBox .head_wrap #unb a.action + form { display: block; }

#headBox .head_wrap > #navMenu { display: none; float: right; width: 2.5rem; height: 2.5rem; }

#headBox .head_wrap > #navMenu > button { width: 2.5rem; height: 2.5rem; background-color: transparent; }

#headBox .head_wrap > #navMenu > button i { width: 100%; height: 100%; color: #fff; font-size: 2rem; text-align: center; line-height: 2.5rem; }

#headBox .head_wrap > #navMenu #sideGnb { position: fixed; z-index: 1000; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 0; height: 0; background-color: #f9f4ed; padding: 0; box-sizing: border-box; opacity: 0; transition: opacity 300ms ease; overflow: hidden; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide { width: 100%; height: auto; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide button { display: block; width: 3rem; height: 3rem; margin: auto; background-color: transparent; margin-bottom: 2rem; padding: 0; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide button > i { width: 100%; height: 100%; color: #333; font-size: 3rem; text-align: center; line-height: 3rem; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide .member_area { width: 0; height: 0; margin-bottom: 2rem; opacity: 0; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide .member_area ul { width: 100%; height: auto; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide .member_area ul:after, #headBox .head_wrap > #navMenu #sideGnb .side_guide .member_area ul::after { content: " "; display: block; width: 0; height: 0; clear: both; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide .member_area ul li { position: relative; float: left; width: 50%; height: 50px; text-align: center; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide .member_area ul li:first-of-type:after, #headBox .head_wrap > #navMenu #sideGnb .side_guide .member_area ul li:first-of-type::after { content: " "; display: block; top: 50%; right: 0; transform: translateY(-50%); position: absolute; width: 0; height: 60%; border-right: 2px solid #f9f4ed; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide .member_area ul li a { display: block; width: 100%; height: 100%; line-height: 50px; color: #f9f4ed; background-color: #a91f2b; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul { width: 100%; height: auto; color: #333; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul li { float: left; width: 33%; height: auto; min-height: 150px; margin-bottom: 3rem; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul li:nth-of-type(4), #headBox .head_wrap > #navMenu #sideGnb .side_guide > ul li:nth-of-type(5) { width: 50%; margin-bottom: 1rem; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul dl { width: 100%; height: auto; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul dt { width: 9.375rem; margin: auto; font-size: 1.125rem; font-weight: bold; margin-bottom: 1rem; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul dt a { display: block; width: 100%; height: 100%; text-align: center; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul dt.active a { color: #bf9c50; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul dd { width: 7.5rem; margin: auto; display: none; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul dd a { float: none; display: block; width: 100%; height: auto; padding: 0.2rem 0; margin: auto; margin-bottom: 0.5rem; text-align: center; }

#headBox .head_wrap > #navMenu #sideGnb .side_guide > ul dd a.active { color: #bf9c50; }

#headBox .head_wrap > #navMenu #sideGnb.action { width: 100%; min-width: 320px; max-width: 750px; height: auto; min-height: 500px; background-color: #f9f4ed; color: #333; opacity: 1; padding: 3rem 1rem; }

#headBox .head_wrap > #navMenu #sideGnb.action .member_area { width: 100%; height: auto; opacity: 1; }

#headBox .head_wrap > #navMenu #sideGnb.action dl { display: block; }

#headBox .head_wrap > #navMenu #sideGnb.action dl dd { display: block; }

#headBox .head_wrap #navMenu:before, #headBox .head_wrap #navMenu::before { content: " "; display: block; position: fixed; z-index: 100; left: 0; top: 0; background-color: rgba(0, 0, 42, 0.5); opacity: 0; }

#headBox .head_wrap #navMenu.action:before, #headBox .head_wrap #navMenu.action::before { width: 100vw; height: 100vh; opacity: 1; transition: opacity 300ms ease; }

#headBox .head_wrap > #pageNav { position: fixed; top: 50%; left: 5%; transform: translate(-50%, -50%); width: 3px; height: auto; min-height: 2.5rem; }

#headBox .head_wrap > #pageNav > ul { width: 100%; height: 7.5rem; background-color: rgba(255, 255, 255, 0.5); transition: background-color 300ms ease; }

#headBox .head_wrap > #pageNav > ul > li { width: 100%; height: 33.33333%; transition: all 300ms ease; background-color: #fff; opacity: 0; }

#headBox .head_wrap > #pageNav > ul > li.action { opacity: 1; width: 5px; }

#headBox .head_wrap > #pageNav > ul > li a { display: block; width: 100%; height: 100%; }

@media screen and (max-width: 768px) { #headBox .head_wrap #navMenu #sideGnb.action { width: 100%; height: 100%; min-height: 0; padding: 3rem 0; }
  #headBox .head_wrap #navMenu #sideGnb.action .side_guide { position: absolute; left: 0; width: 100%; height: 90%; overflow-x: hidden; overflow-y: auto; padding: 0 5rem 5rem 0; }
  #headBox .head_wrap #navMenu #sideGnb.action .side_guide .member_area { width: 100%; }
  #headBox .head_wrap #navMenu #sideGnb.action .side_guide .member_area ul { height: 50px; }
  #headBox .head_wrap #navMenu #sideGnb.action .side_guide .member_area ul li { width: 50%; }
  #headBox .head_wrap #navMenu #sideGnb.action .side_guide ul li { width: 100%; min-height: 50px; margin-bottom: 1.5rem; font-size: 1rem; }
  #headBox .head_wrap #navMenu #sideGnb.action .side_guide ul dl dt { font-size: 1rem; }
  #headBox .head_wrap #navMenu #sideGnb.action .side_guide ul dl dd { display: none; } }

@media screen and (max-width: 960px) { #headBox .head_wrap { background-color: rgba(0, 0, 0, 0.6); }
  #headBox .head_wrap h1 { width: 150px; height: 40px; }
  #headBox .head_wrap #gnb, #headBox .head_wrap #unb { display: none; }
  #headBox .head_wrap #navMenu { display: block; } }

@media screen and (min-width: 961px) and (max-width: 1280px) { #headBox .head_wrap h1 { width: 150px; height: 40px; }
  #headBox .head_wrap #gnb > ul { position: static; float: right; transform: translate(0); min-width: 41.875rem; margin-right: 3rem; }
  #headBox .head_wrap #gnb > ul li { margin-right: 0.75rem; }
  #headBox .head_wrap #gnb > ul li > dl > dt > a { font-size: 1rem; padding: 0 1rem; }
  #headBox .head_wrap #unb button i { font-size: 1.125rem; } }

/* viewBox.css */
#viewBox { width: 100%; min-width: 20rem; height: 100%; }

#viewBox h2 { display: block; width: 0; height: 0; overflow: hidden; }

#viewBox .slide_wrap { position: relative; width: 100%; height: 100%; overflow: hidden; }

#viewBox .slide_wrap .indicator { position: absolute; z-index: 500; right: 12%; width: 15.5rem; height: 0.5rem; top: 80%; transform: translate(0); }

#viewBox .slide_wrap .indicator li { float: left; width: 3.5rem; height: 100%; margin-right: 0.5rem; background-color: #dec4a4; }

#viewBox .slide_wrap .indicator li:last-of-type { margin-right: 0; }

#viewBox .slide_wrap .indicator li.action { background-color: #a91f2b; }

#viewBox .slide_wrap .indicator li a { display: block; width: 100%; height: 100%; }

#viewBox .slide_wrap .slide_btn { position: absolute; z-index: 500; width: 40%; min-width: 28.125rem; height: 0; top: 45%; left: 12%; }

#viewBox .slide_wrap .slide_btn button { width: 5rem; height: 5rem; float: right; text-align: center; background-color: transparent; }

#viewBox .slide_wrap .slide_btn button:last-of-type { float: left; }

#viewBox .slide_wrap .slide_btn button.action i { color: #a91f2b; text-shadow: 2px 2px 0 #333; }

#viewBox .slide_wrap .slide_btn i { font-size: 3rem; }

#viewBox .slide_wrap .slide_btn span { display: block; width: 0; height: 0; overflow: hidden; }

#viewBox .slide_wrap .slide_guide { position: relative; z-index: 0; height: 100%; }

#viewBox .slide_wrap .slide_guide li { float: left; height: 100%; }

#viewBox .slide_wrap .slide_guide li a { position: relative; display: block; width: 100%; height: 100%; padding-top: 3.75rem; box-sizing: border-box; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }

#viewBox .slide_wrap .slide_guide li a span { display: block; width: 0; height: 0; overflow: hidden; }

#viewBox .slide_wrap .slide_guide li a:after, #viewBox .slide_wrap .slide_guide li a::after { content: " "; display: block; position: absolute; top: 0; width: 100%; height: 100%; background: linear-gradient(-90deg, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0)); }

#viewBox .slide_wrap .slide_guide li > div { height: 100%; }

#viewBox .slide_wrap .slide_info { position: absolute; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; }

#viewBox .slide_wrap .slide_info > ul { position: absolute; width: auto; min-width: 28.125rem; top: 13%; left: 23%; background-color: transparent; }

#viewBox .slide_wrap .slide_info > ul li { float: left; margin-right: 1rem; }

#viewBox .slide_wrap .slide_info > ul li a { font-size: 1rem; color: #fff; line-height: 1.125rem; }

#viewBox .slide_wrap .slide_info > ul li.action a { font-weight: bold; font-size: 1.125rem; }

#viewBox .slide_wrap .slide_info > img { position: absolute; top: 45%; left: 12%; width: 40%; min-width: 28.125rem; height: auto; transform-origin: 50% 50%; transform: scale(0.6) translateY(-75%); box-shadow: 0.2rem 0.2rem 0.2rem #333; }

#viewBox .slide_wrap .slide_info > dl { position: absolute; top: 25%; right: 20%; width: 40%; min-width: 28.125rem; height: auto; transform: translate(50%); color: #fff; }

#viewBox .slide_wrap .slide_info > dl dt { width: 80%; min-width: 500px; margin-bottom: 2rem; font-size: 2rem; font-weight: bold; }

#viewBox .slide_wrap .slide_info > dl dd { width: 80%; min-width: 400px; margin-bottom: 1rem; font-size: 1.125rem; }

#viewBox .slide_wrap .slide_info > dl dd strong { display: block; margin-bottom: 0.5rem; word-break: keep-all; }

#viewBox .slide_wrap .slide_info > dl dd p { font-size: 1rem; }

#viewBox .slide_wrap .slide_info > dl dd:first-of-type { font-weight: bold; }

#viewBox .slide_wrap .slide_info > .info_btn { position: absolute; float: right; width: 100%; height: 80px; right: 0; bottom: 0; background: linear-gradient(-90deg, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0) 50%); color: #fff; text-align: right; }

#viewBox .slide_wrap .slide_info > .info_btn a { display: block; width: 100%; height: 100%; padding: 0 2rem; box-sizing: border-box; line-height: 80px; }

#viewBox .slide_wrap .slide_info > .info_btn a i { margin-left: 2rem; animation: arrowMv 500ms linear alternate infinite; }

@keyframes arrowMv { 0% { transform: translate(0); }
  100% { transform: translate(-20px); } }

@media screen and (max-width: 960px) { #viewBox { height: 150%; min-height: 63rem; overflow-x: hidden; overflow-y: visible; }
  #viewBox .slide_wrap .indicator { top: 90%; left: 50%; right: 0; transform: translate(-50%); }
  #viewBox .slide_wrap .slide_guide { height: 40%; max-height: 31.25rem; }
  #viewBox .slide_wrap .slide_btn { width: 100%; min-width: 320px; top: 25%; left: 50%; transform: translate(-50%); }
  #viewBox .slide_wrap .slide_info { min-height: 63rem; }
  #viewBox .slide_wrap .slide_info > img { position: relative; top: 10%; left: 50%; width: 80%; min-width: 18.75rem; max-width: 350px; height: auto; margin: auto; transform: translate(-50%); }
  #viewBox .slide_wrap .slide_info > dl { z-index: 500; top: 55%; left: 50%; right: 0; margin: auto; width: 90%; min-width: 18.75rem; background-color: #fff; color: #333; text-align: center; transform: translate(-50%); }
  #viewBox .slide_wrap .slide_info > dl dt { font-size: 1.125rem; width: 100%; min-width: 18.75rem; }
  #viewBox .slide_wrap .slide_info > dl dd { font-size: 1rem; width: 100%; min-width: 18.75rem; }
  #viewBox .slide_wrap .slide_info > .info_btn { float: none; width: 20%; min-width: 200px; height: 50px; left: 0; margin: auto; text-align: center; border: 1px solid #a91f2b; background-color: transparent; color: #a91f2b; font-size: 0.75rem; }
  #viewBox .slide_wrap .slide_info > .info_btn a { padding: 0 2rem; box-sizing: border-box; line-height: 50px; color: inherit; }
  #viewBox .slide_wrap .slide_info > .info_btn a i { display: none; }
  #viewBox .slide_wrap .slide_info > .info_btn:hover, #viewBox .slide_wrap .slide_info > .info_btn:focus { background-color: #a91f2b; color: #fff; } }

@media screen and (min-width: 961px) and (max-width: 1280px) { #viewBox .slide_wrap .slide_btn { left: 5%; }
  #viewBox .slide_wrap .slide_info > ul { left: 15%; }
  #viewBox .slide_wrap .slide_info > img { left: 5%; }
  #viewBox .slide_wrap .slide_info > dl dt { font-size: 1.125rem; }
  #viewBox .slide_wrap .slide_info > dl dd { font-size: 1rem; } }

@media screen and (max-width: 500px) { #viewBox { min-height: 68em; }
  #viewBox .slide_wrap .slide_info > img { min-width: 12.5rem; max-width: 300px; }
  #viewBox .slide_wrap .slide_info > dl { top: 48%; } }

#mainBox { width: 100%; height: auto; min-height: 100%; background-color: #5b6574; }

#newsBox { position: fixed; z-index: 800; bottom: 0; left: 0; width: 50%; min-width: 600px; height: 5rem; padding: 1rem 2rem; box-sizing: border-box; background-color: #a91f2b; }

#newsBox h3 { position: relative; float: left; width: 20%; height: 100%; font-size: 1.5rem; color: #fff; line-height: 3rem; text-align: center; margin-right: 20px; }

#newsBox h3:after, #newsBox h3::after { position: absolute; top: 50%; right: 0; content: " "; display: block; width: 0; height: 60%; transform: translateY(-50%); border-right: 1px solid #fff; }

#newsBox ul { float: left; width: 65%; height: 100%; line-height: 3rem; color: #fff; overflow: hidden; }

#newsBox ul li { position: relative; top: 0; left: 0; width: 100%; height: auto; margin-top: -3rem; }

#newsBox ul dl { width: 100%; height: 100%; }

#newsBox ul dl dt { float: left; width: 70%; height: auto; }

#newsBox ul dl dt a { display: block; width: 100%; height: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #fff; }

#newsBox ul dl dt a:hover, #newsBox ul dl dt a:focus { font-weight: bold; }

#newsBox ul dl dd { float: right; width: 20%; font-size: 1rem; }

#newsBox > div { position: relative; float: right; width: 5%; height: 100%; }

#newsBox > div button { position: absolute; bottom: 0; width: 100%; height: 45%; background-color: transparent; }

#newsBox > div button:last-of-type { top: 0; }

#newsBox > div button span { display: block; width: 0; height: 0; overflow: hidden; }

@media screen and (max-width: 960px) { #newsBox { display: none; position: static; z-index: 0; width: 100%; min-width: 320px; height: 80px; }
  #newsBox h3 { font-size: 1rem; } }

#infoBox { width: 100%; height: auto; padding: 8rem 0; background-color: #fff; }

#infoBox h3 { width: 50%; min-width: 320px; height: auto; margin: auto; margin-bottom: 4rem; text-align: center; }

#infoBox .info_wrap { width: 80%; min-width: 320px; margin: auto; height: auto; min-height: 100px; }

#infoBox .info_wrap ul { width: 100%; height: auto; margin: auto; padding: 0 2rem; box-sizing: border-box; }

#infoBox .info_wrap ul li { float: left; width: 20%; height: 150px; margin-right: 5%; }

#infoBox .info_wrap ul li a { display: block; width: 100%; height: 100%; text-align: center; }

#infoBox .info_wrap ul li dl { width: 100%; height: 100%; }

#infoBox .info_wrap ul li dl dt { width: 100%; height: 100px; }

#infoBox .info_wrap ul li dl dt i { width: 100%; height: 100%; font-size: 3rem; text-align: center; line-height: 100px; }

#infoBox .info_wrap ul li dl dd { width: 100%; height: 50px; }

#infoBox .info_wrap ul li:last-of-type { margin-right: 0; }

@media screen and (max-width: 480px) { #infoBox .info_wrap ul li { width: 40%; margin-right: 20%; }
  #infoBox .info_wrap ul li:nth-of-type(2) { margin-right: 0; }
  #infoBox .info_wrap ul li dl dt i { font-size: 2rem; } }

#coopBox { width: 100%; min-width: 20rem; height: auto; min-height: 500px; padding: 8rem 0; box-sizing: border-box; background-color: #fff; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; background-image: url("../../img/main/coopBox/backImg_01.jpg"); }

#coopBox h3 { width: 50%; min-width: 320px; height: auto; margin: auto; margin-bottom: 4rem; text-align: center; }

.coop_area { width: 80vw; max-width: 1280px; height: 100%; margin: auto; }

.coop_area ul { width: 100%; height: auto; min-height: 400px; }

.coop_area ul li { width: 100%; height: 200px; box-sizing: border-box; text-align: center; background-color: #f9f4ed; overflow: hidden; }

.coop_area ul li a { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; transition: all 300ms ease; }

.coop_area ul li a dl { position: relative; width: 100%; height: 100%; padding: 2rem; box-sizing: border-box; color: #fff; background-color: rgba(0, 0, 0, 0.5); }

.coop_area ul li a dt { height: 60%; font-size: 1.5rem; font-weight: bold; padding-top: 2rem; box-sizing: border-box; }

.coop_area ul li a dd { height: 40%; word-break: keep-all; }

.coop_area ul li a dd:last-of-type { display: none; }

.coop_area ul li.action a { transform: scale(1.1); }

.coop_area ul li.action dd:last-of-type { position: absolute; left: 0; bottom: 0; background-color: rgba(234, 242, 245, 0.5); color: #333; font-size: 1.125rem; font-weight: bold; width: 100%; height: 100%; line-height: 12.5rem; }

@media screen and (max-width: 768px) { #coopBox .coop_area { width: 100%; } }

@media screen and (min-width: 968px) { .coop_area ul { height: 200px; }
  .coop_area ul li { float: left; width: 33.333333%; height: 100%; }
  .coop_area ul li.action dd:last-of-type { position: absolute; left: 0; bottom: 0; background-color: rgba(249, 244, 237, 0.5); color: #333; font-weight: bold; font-size: 1.125rem; width: 100%; height: 100%; line-height: 25rem; } }

#serviceBox { width: 100%; min-width: 20rem; height: auto; min-height: 300px; padding: 6.25rem 0; background-color: #fff; box-sizing: border-box; }

#serviceBox h3 { width: 50%; min-width: 320px; height: auto; margin: auto; margin-bottom: 4rem; text-align: center; }

.service_wrap { width: 100%; height: auto; }

.service_wrap > ul { width: 60%; min-width: 600px; max-width: 1280px; margin: auto; text-align: center; margin-bottom: 3rem; }

.service_wrap > ul li { float: left; width: 14%; min-width: 80px; height: 2.5rem; padding: 0 0.5rem; word-break: keep-all; }

.service_wrap > ul li a { display: block; width: 100%; height: 100%; }

.service_wrap > ul li a span { display: block; position: relative; top: 50%; transform: translateY(-50%); }

.service_wrap > ul li.action { color: #a91f2b; font-weight: bold; }

.service_wrap .area_view { position: relative; width: 100%; height: 400px; margin: auto; margin-bottom: 3rem; overflow: hidden; }

.service_wrap .area_view > ul { position: absolute; top: 0; width: 3000px; height: 100%; /* left: 50%; transform: translate(-50%); */ padding-bottom: 2rem; overflow-x: scroll; overflow-y: hidden; }

.service_wrap .area_view > ul li { float: left; width: 600px; height: 100%; background-color: #dec4a4; text-align: center; transform: scale(0.8); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-image: url("../../img/caci_logo.png"); }

.service_wrap .area_view > ul li a { display: block; width: 100%; height: 100%; }

.service_wrap .area_view > ul li a span { display: block; width: 0; height: 0; overflow: hidden; }

.service_wrap .area_view > ul:after, .service_wrap .area_view > ul::after { content: " "; display: block; width: 0; height: 0; clear: both; }

.service_wrap .area_view ul { display: none; }

.service_wrap .area_view ul.action { display: block; }

.service_wrap .rent_btn { width: 200px; height: 60px; margin: auto; background-color: #fff; border: 1px solid #a91f2b; color: #a91f2b; box-sizing: border-box; }

.service_wrap .rent_btn button { width: 100%; height: 100%; color: #a91f2b; background-color: transparent; font-size: 0.75rem; text-transform: uppercase; }

.service_wrap .rent_btn button:hover, .service_wrap .rent_btn button:focus { color: #fff; background-color: #a91f2b; }

@media screen and (max-width: 768px) { #serviceBox { height: auto; }
  .service_wrap > ul { width: 100%; min-width: 320px; }
  .service_wrap > ul li { width: 33.333333%; box-sizing: border-box; }
  .service_wrap .area_view { height: 300px; }
  .service_wrap .area_view > ul { width: 2000px; }
  .service_wrap .area_view > ul li { width: 600px; transform: scale(0.8); } }

@media screen and (max-width: 500px) { .service_wrap > ul li { box-sizing: border-box; }
  .service_wrap .area_view > ul li { width: 600px; transform: scale(0.5); } }

/* footBox.css */
#footBox { width: 100%; min-width: 320px; height: auto; padding: 5rem 2rem; box-sizing: border-box; background-color: #f9f4ed; }

#footBox .foot_wrap { position: relative; width: 100%; height: auto; text-align: center; }

#footBox .foot_wrap > h2 { display: block; width: 0; height: 0; overflow: hidden; }

#footBox .foot_wrap .move_top { position: absolute; z-index: 500; width: 100px; height: 100px; top: 0; left: 50%; transform: translate(-50%, -7.5rem); }

#footBox .foot_wrap .move_top a { display: block; width: 100%; height: 100%; background-color: #f9f4ed; border-radius: 100%; }

#footBox .foot_wrap .move_top a i { width: 100%; height: 100%; color: #333; font-size: 2rem; text-align: center; line-height: 100px; }

#footBox .foot_wrap > h3 { width: 150px; height: 50px; margin: auto; background-image: url("../../img/caci_logo.png"); background-position: 50% 50%; background-size: 100% auto; background-repeat: no-repeat; }

#footBox .foot_wrap span { display: block; width: 0; height: 0; overflow: hidden; }

#footBox .foot_wrap address { position: relative; padding-top: 3rem; font-style: normal; font-size: 0.75rem; }

#footBox .foot_wrap address > span { display: block; width: 0; height: 0; overflow: hidden; }

#footBox .foot_wrap address > div { position: absolute; width: auto; min-width: 20rem; top: 1rem; left: 50%; transform: translate(-50%); margin-bottom: 1rem; }

#footBox .foot_wrap address a { display: block; float: left; width: auto; height: 1rem; padding: 0 0.2rem; box-sizing: border-box; margin-right: 0.2rem; }

#footBox .foot_wrap address a:last-child { margin-right: 0; }

#footBox .foot_wrap address dl { width: auto; height: auto; margin-bottom: 0.75rem; }

#footBox .foot_wrap address dl dt { width: auto; height: 1rem; }

#footBox .foot_wrap address dl dd { width: auto; height: 1rem; }

#footBox .foot_wrap address p { text-transform: uppercase; margin-bottom: 1rem; }

#footBox .foot_wrap .page_info h3 { display: block; width: 0; height: 0; overflow: hidden; }

#footBox .foot_wrap .page_info p { font-size: 0.75rem; }
